.extension-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 50%;
  max-width: 200px;
  height: 200px;
  border: 1px solid gray;
  padding: 3px;
  border-radius: 3px;
  background: aliceblue;
  transform: translateY(-50%);
  z-index: 9000;
}

.extension-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
  border: 1px solid gray;
  text-align: center;
  line-height: 0.8rem;
  cursor: pointer;
}

.extension-history-block {
  height: 100%;
  overflow-y: auto;
}

.extension-title {
  margin-right: 1rem;
}

.extension-screen-protector {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  z-index: 8999;
}

.extension-square-elem {
  display: flex;
  box-sizing: content-box;
  position: absolute;
  width: 0;
  height: 0;
  border: 2px solid lawngreen;
}

.extension-square-fill {
  background-color: rgba(124, 252, 0, 0.5);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.extension-corner-elem {
  display: block;
  position: absolute;
  width: 5rem;
  height: 3rem;
  padding: 5px;
  background-color: rgba(124, 252, 0, 1);
}

.extension-upper-corner {
  top: -3rem;
  left: -5rem;
  text-align: end;
  border-bottom: 2px solid lawngreen;
  border-right: 2px solid lawngreen;
  border-top-left-radius: 30px;
}

.extension-lower-corner {
  bottom: -3rem;
  right: -5rem;
  border-top: 2px solid lawngreen;
  border-left: 2px solid lawngreen;
  border-bottom-right-radius: 30px;
}

.extention-width-elem {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background: lawngreen;
}

.extention-height-elem {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background: lawngreen;
}
